@charset "UTF-8";
/* CSS Document */

.micro {
	list-style-type: circle;
}

.micro ul {
	margin-left: 6rem;
}

.media-body {
	margin-top: 2rem;
	float: left;
}

@media only screen and (max-width: 30em) {

.media-body {
	float: left;
}

.micro ul {
	margin-left: 6rem;
}
}

@media only screen and (max-width: 50em) {

.media-body {
	margin-top: 2rem;
	float: right;
}
}