# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Jane Doe}
- {John Doe}
- {Jordan Doe}

## Tasks

1. {First task description here}
2. {Second task description here}
3. {Third task description here}

---

## Individual Results & Observations

### {Emily Prochnau}

- She clicked on the link as expected and it worked properly
- No problems
- none
- Said there might be too many steps/options in the search
- etc.

### {Kayla Araujo}

- Thought promos were clickable
- Wasnt sure if Checkout was clickable, or if she could click the flavours
- Asked what to search
- Mabye fix the search page
- etc.

### {Emma McInall}

- Clicked on everything normally
- Wasnt sure if checkout page was clickable
- None
- Went well.
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Checkout page wasnt clickable, users weren't sure. Should make the search page more specific.
- etc.

### Serious, Causes Frustration, May Hinder Completion

- Two went through the steps fine, one didnt know the search results were clickable flavours
- etc.

### Minor, Annoying, Won’t Hinder Completion

- None.
- etc.