---
layout: default
---

<div class="grid-promo-large">
	
	<div class=" gutter unit unit-s-1 unit-m-1 unit-l-1">
		{%  include promo-small.html title="Greek Yogurt" desc="Flavours" image="yogurt.jpg" %}
	</div>

</div>	

<nav class="nav">
	<ul class="list-group">
		<li class="list-group-item-inline"><a class="{% if page.url =='/fruit-yogurt/' %}current{% endif %}" href="{{site.baseurl}}/yogurt/fruit-yogurt">Fruit Yogurt</a></li>
		<li class="list-group-item-inline"><a class="{% if page.url =='/greek/' %}current{% endif %}" href="{{site.baseurl}}/yogurt/greek/">Greek Yogurt</a></li>
	</ul>
</nav>

<h1>{{page.name}}</h1>
<h1>Flavours</h1>




{{content}}